//Banner
.banner {
  height: 600px;
  width: 100%;
  position: relative;
}
.toggle_category {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  background-color: white;
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 700px) {
  .banner {
    height: 78vh;
  }
  .toggle_category {
    display: block;
  }
}
