/* font-family: 'Acme', sans-serif;
font-family: 'Kurale', serif; */
$blue: #1a8b97;
$purple: #6d07a7;

html {
  scroll-behavior: smooth;
}
.body-wrapper {
  padding: 0px 100px;
  overflow-x: hidden;
}
.box {
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 1130px) {
  .body-wrapper {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 940px) {
  .body-wrapper {
    padding: 0px 10px;
  }
}
ul,
h2,
p {
  margin: 0;
  padding: 0;
}
a,
p,
li {
  font-family: "Kurale", serif;
}
ul {
  list-style: none;
}
