$blue: #1a8b97;
$purple: #6d07a7;
.main_nav {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Acme", sans-serif;
  margin: 0;
  a {
    color: $blue;
    text-decoration: none;
    font-weight: 600;
  }
}
.search_bar {
  width: 30%;
  height: 50px;
  position: relative;
  input {
    width: 100%;
    height: 100%;
    border: 1px solid $purple;
    border-radius: 5px;
    background-color: rgba(109, 7, 167, 0.1);
    font-family: "Kurale", serif;
    font-size: 18px;
    padding: 0px 20px;
  }
  input:focus {
    outline: none;
    border: 1px solid $blue;
  }
  svg {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    font-size: 22px;
    color: $blue;
    cursor: pointer;
  }
  .close_icon {
    display: none;
  }
}
.main_menu {
  display: flex;
  li {
    margin: 0px 10px;
    a {
      text-transform: uppercase;
      color: black;
      font-weight: 600;
      text-decoration: none;
      transition: 0.5s;
    }
    a:hover {
      color: $blue;
    }
  }
}
.menu_icons {
  display: flex;
  li {
    margin-left: 15px;
    a {
      color: black;
      font-size: 26px;
      transition: 0.5s;
    }
    a:hover {
      color: $purple;
    }
  }
  .search_menu_icon {
    display: none;
    cursor: pointer;
  }
}
.toggle_menu {
  display: none;
  svg {
    color: black;
    font-size: 26px;
    cursor: pointer;
  }
}

@media screen and (max-width: 975px) {
  .logo {
    a {
      font-size: 20px;
    }
  }
  .search_bar {
    display: none;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    padding-right: 60px;
    .close_icon {
      display: block;
      right: 18px;
      font-size: 30px;
    }
    .search_icon {
      right: 75px;
    }
  }
  .open_search_bar {
    display: block;
  }
  .menu_icons {
    .search_menu_icon {
      display: block;
    }
  }
}
@media screen and (max-width: 650px) {
  .toggle_menu {
    display: block;
  }
  .main_menu {
    position: fixed;
    top: 140px;
    right: -100%;
    background-color: white;
    height: 86vh;
    width: 100%;
    flex-direction: column;
    padding-top: 25px;
    border-top: 1px solid black;
    z-index: 999;
    transition: 0.5s;
    li {
      margin: 5px;
      padding: 10px;
    }
  }
  .open_main_menu {
    right: 0%;
  }
}
