.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0px 20px;
  background-color: rgba(26, 139, 151, 0.2);
  border-radius: 0px 0px 5px 5px;
  position: relative;
  p {
    display: flex;
    align-items: center;
    margin-left: 20px;
    svg {
      margin-right: 5px;
      font-size: 18px;
    }
  }
}
.top_nav_right {
  display: flex;
  align-items: center;
}
.top_social {
  display: flex;
  li {
    margin-right: 10px;
    a {
      color: black;
      text-decoration: none;
      font-size: 25px;
      display: flex;
      align-items: center;
    }
  }
}
.top_social_toggle {
  display: none;
  cursor: pointer;
  svg {
    color: black;
    font-size: 25px;
  }
}
@media screen and (max-width: 470px) {
  .top_social {
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 81%;
    background-color: rgba(26, 139, 151);
    border-radius: 0px 0px 5px 5px;
    top: -40px;
    right: 0;
    transition: 0.5s;
    li {
      margin-right: 0;
      a {
        color: white;
      }
    }
  }
  .top_social_open {
    top: 0px;
  }
  .top_social_toggle {
    display: block;
  }
}
